<a href="https://colab.research.google.com/github/Aviral-Aggarwal/Retail_models/blob/master/Retail_xgb_estimations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
#New version of numpy is there, using the upgraded one
import numpy as np
import pandas as pd
import os, sys, gc, time, warnings, pickle, psutil, random
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler

warnings.filterwarnings('ignore')

In [ ]:
input_dir = '/content/gdrive/My Drive/m5-forecasting-accuracy/'

#CHECK AGAIN HOW THIS IS WORKING, IS IT ZIP MECHANISM OR SOMETHING ELSE
#Standard function, copied from stack exchange
def reduce_mem_usage(df, verbose=False):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics: 
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [ ]:
def load_df(file_path):
    t1 = time.time()
    df = pd.read_csv(file_path)
    df = reduce_mem_usage(df=df, verbose=True)
    print('The shape of food_master is ', df.shape)
    t2 = time.time()
    print('\nTime taken to load the DataFrame is:', (t2-t1))
    return df

In [ ]:
#Don't load and run this one, start from loading food_xgb
food = load_df(input_dir + 'food1_master.csv')

Mem. usage decreased to 441.10 Mb (63.6% reduction)
The shape of food_master is  (3530738, 45)

Time taken to load the DataFrame is: 21.360494136810303

In [ ]:
food

         Unnamed: 0      item_id  ... MartinLutherKingDay Easter
0                 0  FOODS_1_001  ...                 NaN    NaN
1                 1  FOODS_1_001  ...                 NaN    NaN
2                 2  FOODS_1_001  ...                 NaN    NaN
3                 3  FOODS_1_001  ...                 NaN    NaN
4                 4  FOODS_1_001  ...                 NaN    NaN
...             ...          ...  ...                 ...    ...
3530733     3530733  FOODS_1_219  ...                 NaN    NaN
3530734     3530734  FOODS_1_219  ...                 NaN    NaN
3530735     3530735  FOODS_1_219  ...                 NaN    NaN
3530736     3530736  FOODS_1_219  ...                 NaN    NaN
3530737     3530737  FOODS_1_219  ...                 NaN    NaN

[3530738 rows x 45 columns]

I am dropping some of the columns for the following reasons:
1. id: combination of item_id and store_id
2. dept_id: name of the category
3. weekday: wday is already present as a number
4. wm_yr_wk_x, wm_yr_wk_y : a representation of the dates
5. d_num: indirectly just sequencing of the time series data
6. event_name_1: already converted into columns
7. date_y: repeat column

In [ ]:
food.drop(food.columns[0], axis=1, inplace=True)

In [ ]:
food.drop(['id', 'd', 'wm_yr_wk', 'weekday', 'date'], axis=1, inplace=True)

In [ ]:
food_try = food.iloc[:, 0:11]

In [ ]:
food_try

             item_id store_id  ...  week_number  event_name_1
0        FOODS_1_001     CA_1  ...            4           NaN
1        FOODS_1_001     CA_1  ...            4           NaN
2        FOODS_1_001     CA_1  ...            5           NaN
3        FOODS_1_001     CA_1  ...            5           NaN
4        FOODS_1_001     CA_1  ...            5           NaN
...              ...      ...  ...          ...           ...
3530733  FOODS_1_219     WI_3  ...           16           NaN
3530734  FOODS_1_219     WI_3  ...           16           NaN
3530735  FOODS_1_219     WI_3  ...           16           NaN
3530736  FOODS_1_219     WI_3  ...           16           NaN
3530737  FOODS_1_219     WI_3  ...           16           NaN

[3530738 rows x 11 columns]

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [ ]:
y = food_try['Quantity_sold']
X = food_try.drop('Quantity_sold', axis=1)

In [ ]:
X.fillna('none', inplace=True)

In [ ]:
del food

Directly running the below cell on food df also crashes. So I am running it for X

In [ ]:
#X = X.loc[:, ~X.columns.str.contains('^Unnamed')]

In [ ]:
X

             item_id store_id  sell_price  ...  discount  week_number  event_name_1
0        FOODS_1_001     CA_1    2.000000  ...       0.0            4          none
1        FOODS_1_001     CA_1    2.000000  ...       0.0            4          none
2        FOODS_1_001     CA_1    2.000000  ...       0.0            5          none
3        FOODS_1_001     CA_1    2.000000  ...       0.0            5          none
4        FOODS_1_001     CA_1    2.000000  ...       0.0            5          none
...              ...      ...         ...  ...       ...          ...           ...
3530733  FOODS_1_219     WI_3    2.240234  ...       0.0           16          none
3530734  FOODS_1_219     WI_3    2.240234  ...       0.0           16          none
3530735  FOODS_1_219     WI_3    2.240234  ...       0.0           16          none
3530736  FOODS_1_219     WI_3    2.240234  ...       0.0           16          none
3530737  FOODS_1_219     WI_3    2.240234  ...       0.0           16          none

[3530738 rows x 10 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
d = defaultdict(LabelEncoder)
categorical_mask = (X.dtypes == object)
categorical_columns = X.columns[categorical_mask].tolist()

le = LabelEncoder()
for cat in categorical_columns:
    le.fit(X[cat])
    print(le.classes_)
    X[cat]=le.transform(X[cat])

print(X[categorical_columns].head())

['FOODS_1_001' 'FOODS_1_002' 'FOODS_1_003' 'FOODS_1_004' 'FOODS_1_005'
 'FOODS_1_006' 'FOODS_1_008' 'FOODS_1_009' 'FOODS_1_010' 'FOODS_1_011'
 'FOODS_1_012' 'FOODS_1_013' 'FOODS_1_014' 'FOODS_1_015' 'FOODS_1_016'
 'FOODS_1_017' 'FOODS_1_018' 'FOODS_1_019' 'FOODS_1_020' 'FOODS_1_021'
 'FOODS_1_022' 'FOODS_1_023' 'FOODS_1_024' 'FOODS_1_025' 'FOODS_1_026'
 'FOODS_1_027' 'FOODS_1_028' 'FOODS_1_029' 'FOODS_1_030' 'FOODS_1_031'
 'FOODS_1_032' 'FOODS_1_033' 'FOODS_1_034' 'FOODS_1_035' 'FOODS_1_036'
 'FOODS_1_037' 'FOODS_1_038' 'FOODS_1_039' 'FOODS_1_040' 'FOODS_1_041'
 'FOODS_1_042' 'FOODS_1_043' 'FOODS_1_044' 'FOODS_1_045' 'FOODS_1_046'
 'FOODS_1_047' 'FOODS_1_048' 'FOODS_1_049' 'FOODS_1_050' 'FOODS_1_051'
 'FOODS_1_052' 'FOODS_1_053' 'FOODS_1_054' 'FOODS_1_055' 'FOODS_1_056'
 'FOODS_1_057' 'FOODS_1_058' 'FOODS_1_059' 'FOODS_1_060' 'FOODS_1_061'
 'FOODS_1_062' 'FOODS_1_063' 'FOODS_1_064' 'FOODS_1_065' 'FOODS_1_066'
 'FOODS_1_067' 'FOODS_1_068' 'FOODS_1_069' 'FOODS_1_070' 'FOODS_1_071'
 'FOODS_1_072' 'FOODS_1_073' 'FOODS_1_074' 'FOODS_1_075' 'FOODS_1_076'
 'FOODS_1_077' 'FOODS_1_078' 'FOODS_1_079' 'FOODS_1_080' 'FOODS_1_081'
 'FOODS_1_082' 'FOODS_1_083' 'FOODS_1_084' 'FOODS_1_085' 'FOODS_1_086'
 'FOODS_1_087' 'FOODS_1_088' 'FOODS_1_089' 'FOODS_1_090' 'FOODS_1_091'
 'FOODS_1_092' 'FOODS_1_093' 'FOODS_1_094' 'FOODS_1_095' 'FOODS_1_096'
 'FOODS_1_097' 'FOODS_1_098' 'FOODS_1_099' 'FOODS_1_101' 'FOODS_1_102'
 'FOODS_1_103' 'FOODS_1_104' 'FOODS_1_105' 'FOODS_1_106' 'FOODS_1_107'
 'FOODS_1_108' 'FOODS_1_109' 'FOODS_1_110' 'FOODS_1_111' 'FOODS_1_112'
 'FOODS_1_113' 'FOODS_1_114' 'FOODS_1_115' 'FOODS_1_116' 'FOODS_1_117'
 'FOODS_1_118' 'FOODS_1_119' 'FOODS_1_120' 'FOODS_1_121' 'FOODS_1_122'
 'FOODS_1_123' 'FOODS_1_124' 'FOODS_1_125' 'FOODS_1_126' 'FOODS_1_127'
 'FOODS_1_128' 'FOODS_1_129' 'FOODS_1_130' 'FOODS_1_131' 'FOODS_1_132'
 'FOODS_1_133' 'FOODS_1_134' 'FOODS_1_135' 'FOODS_1_136' 'FOODS_1_137'
 'FOODS_1_138' 'FOODS_1_139' 'FOODS_1_140' 'FOODS_1_141' 'FOODS_1_142'
 'FOODS_1_143' 'FOODS_1_144' 'FOODS_1_145' 'FOODS_1_146' 'FOODS_1_147'
 'FOODS_1_148' 'FOODS_1_149' 'FOODS_1_150' 'FOODS_1_151' 'FOODS_1_152'
 'FOODS_1_153' 'FOODS_1_154' 'FOODS_1_155' 'FOODS_1_156' 'FOODS_1_157'
 'FOODS_1_158' 'FOODS_1_159' 'FOODS_1_160' 'FOODS_1_161' 'FOODS_1_162'
 'FOODS_1_163' 'FOODS_1_164' 'FOODS_1_166' 'FOODS_1_167' 'FOODS_1_168'
 'FOODS_1_169' 'FOODS_1_170' 'FOODS_1_171' 'FOODS_1_172' 'FOODS_1_173'
 'FOODS_1_174' 'FOODS_1_175' 'FOODS_1_176' 'FOODS_1_177' 'FOODS_1_178'
 'FOODS_1_179' 'FOODS_1_180' 'FOODS_1_181' 'FOODS_1_182' 'FOODS_1_183'
 'FOODS_1_184' 'FOODS_1_185' 'FOODS_1_186' 'FOODS_1_187' 'FOODS_1_188'
 'FOODS_1_189' 'FOODS_1_190' 'FOODS_1_191' 'FOODS_1_192' 'FOODS_1_193'
 'FOODS_1_194' 'FOODS_1_195' 'FOODS_1_196' 'FOODS_1_197' 'FOODS_1_198'
 'FOODS_1_199' 'FOODS_1_200' 'FOODS_1_201' 'FOODS_1_202' 'FOODS_1_203'
 'FOODS_1_204' 'FOODS_1_205' 'FOODS_1_206' 'FOODS_1_207' 'FOODS_1_208'
 'FOODS_1_209' 'FOODS_1_210' 'FOODS_1_211' 'FOODS_1_212' 'FOODS_1_213'
 'FOODS_1_214' 'FOODS_1_215' 'FOODS_1_216' 'FOODS_1_217' 'FOODS_1_218'
 'FOODS_1_219']
['CA_1' 'CA_2' 'CA_3' 'CA_4' 'TX_1' 'TX_2' 'TX_3' 'WI_1' 'WI_2' 'WI_3']
['Chanukah End' 'Christmas' 'Cinco De Mayo' 'ColumbusDay' 'Easter'
 'Eid al-Fitr' 'EidAlAdha' "Father's day" 'Halloween' 'IndependenceDay'
 'LaborDay' 'LentStart' 'LentWeek2' 'MartinLutherKingDay' 'MemorialDay'
 "Mother's day" 'NBAFinalsEnd' 'NBAFinalsStart' 'NewYear'
 'OrthodoxChristmas' 'OrthodoxEaster' 'Pesach End' 'PresidentsDay'
 'Purim End' 'Ramadan starts' 'StPatricksDay' 'SuperBowl' 'Thanksgiving'
 'ValentinesDay' 'VeteransDay' 'none']
   item_id  store_id  event_name_1
0        0         0            30
1        0         0            30
2        0         0            30
3        0         0            30
4        0         0            30

As per what I read, one hot encoding would be needed for the store_id, and item_id variables, since the numbers assigned to them have no special significance and ordering between them would hurt performance.

For now I am skipping date for two reasons:
1. There are 1919 dates, one hot encoding would be too expensive
2. There are time series data, and for them order might help

In [ ]:
X.shape

(3530738, 10)

Skip the next three cells also and try

In [ ]:
from sklearn.preprocessing import OneHotEncoder
 
ohe = OneHotEncoder(categories='auto', sparse=True)
 
# After applying one hot encoder, the output is no longer a data frame
X_encoded = ohe.fit_transform(X)

In [ ]:
X.shape

(3530738, 10)

In [ ]:
X_encoded.shape

(3530738, 1365)

Try again from here

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
seed = 43
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=seed)

One hot encoding accuracy = 25.88%

only label encoding = 38.45%

In [ ]:
# fit model no training data
model = xgb.XGBRegressor(n_estimators=100, max_depth=10)
model.fit(X_train, y_train)

[14:24:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=10, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 38.45%

In [ ]:
print(y_pred)

[0.83422804 2.2923274  0.7298737  ... 0.47951704 0.34490734 0.8183894 ]

In [ ]:
print(y_test)

1037717    1
727555     2
1026395    1
530341     0
380315     2
          ..
642213     0
203028     2
626629     0
471788     1
340520     0
Name: Quantity_sold, Length: 106481, dtype: int16

In [ ]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import StratifiedKFold

In [ ]:
params = {
        'min_child_weight': [1, 5, 10],
        'gamma': [0.5, 1, 1.5, 2, 5],
        'subsample': [0.6, 0.8, 1.0],
        'colsample_bytree': [0.6, 0.8, 1.0],
        'max_depth': [3, 6, 9]
        }

In [ ]:
param_comb = 50
random_search = RandomizedSearchCV(estimator=model, param_distributions=params, n_iter=param_comb, scoring='neg_mean_absolute_error' , n_jobs=-1, random_state=43, verbose=3)

In [ ]:
random_search.fit(X_train, y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

In [ ]:
def eval_results(yhat_mean, y):
    temp_dict = {}
    temp_dict['MAD'] = np.nanmean(np.abs(y - yhat_mean))
    temp_dict['MSE'] = np.nanmean(np.square(y - yhat_mean))
    temp_dict['WMAPE'] = np.nansum(np.abs(y - yhat_mean)) / np.nansum(y)
    temp_dict['MD'] = np.nanmean(y - yhat_mean)
    temp_dict['mean'] = np.nanmean(y)
    temp_dict['SMAPE'] = 100. * np.nanmean(np.abs(y - yhat_mean) / ((np.abs(y) + np.abs(yhat_mean)) / 2.))
    # print(temp_dict)
    return temp_dict

In [ ]:
print(eval_results(y_pred, y_test))

{'MAD': 1.2461338, 'MSE': 5.5681224, 'WMAPE': 0.776171239777952, 'MD': -0.002632901, 'mean': 1.6054883030775444, 'SMAPE': 140.56050351326422}

In [ ]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=100, max_depth=5)
regressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
y_pred = regressor.predict(X_test)
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 18.57%

In [ ]:
# imputations and NaN 
# ordered variable 
# Random forest regression